body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 24px;

    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
         transform: scale(0.80);

   background-color: #00ff00;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px; /* Adjust the size as needed */
    padding: 10px;   /* Optional: Add padding for better appearance */
}