body {
    font-family: Arial, sans-serif;
    text-align: center;

    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
         transform: scale(0.80);

   background-color: #636363;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    margin-left: 40px;
    margin-right: 40px;
}