<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <form method="POST">
            <button type="submit" name="card" value="card1">
                <img src="https://cards.scryfall.io/large/front/9/4/947702ca-d065-4368-9f26-f859d4642cb6.jpg?1726286915" alt="buttonpng" border="0" />
            </button>
            <button type="submit" name="card" value="card2">
                <img src=" https://cards.scryfall.io/large/front/e/8/e84c0880-728d-4ac2-b685-4f18f66c24db.jpg?1726286938" alt="buttonpng" border="0" />
            </button>
        </form>
    </div>
    <form method="POST">
        <button type="submit" name="BACK" value=1>BACK</button>
    </form>
    <form method="POST">
        <button type="submit" name="EVYN" value=1>Kinkadian counter</button>
    </form>
    <form method="POST">
        <button type="submit" name="RESET" value=1>RESTART</button>
    </form>
</body>
</html>
