<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <form method="POST">
            <button type="submit" name="card" value="card1">
                <img src="{{ card1image }}" alt="buttonpng" border="0" />
            </button>
            <button type="submit" name="card" value="card2">
                <img src="{{ card2image }}" alt="buttonpng" border="0" />
            </button>
        </form>
    </div>
    <form method="POST">
        <button type="submit" name="BACK" value=1>BACK</button>
    </form>
    <form method="POST">
        <button type="submit" name="EVYN" value=1>Kinkadian Counter: {{ kinkadian }}</button>
    </form>
    <form method="POST">
        <button type="submit" name="RESET" value=1>RESTART</button>
    </form>
</body>
</html>
