<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <form method="POST">
            <label for="user_input">Enter a string:</label>
            <input type="text" id="query" name="query" required>

            <label for="options">Uniqueness</label>
            <select id="options" name="options" required>
                <option value="" disabled selected>Select an option</option>
                <option value="prints">All Prints</option>
                <option value="cards">Cards</option>
                <option value="art">Unique Arts</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

